html{
    background: linear-gradient(#6DCFF6, #2981C4); /* Standard syntax */
    background-size: cover;
}

body {
/*    background: linear-gradient(#6DCFF6, #2981C4);  Standard syntax */
}

.text-center {
    text-align: center;
}

#topNavbar {
    padding-top: 15px;
	padding-bottom:15px;
}

#topNavbar .button-primary {
    margin-left: 0%;
}

.mazeArea-max-full-width {
    max-width: 100%;
    box-sizing: border-box; cc
}

img, img.scale-with-grid { 
    outline: 0; 
    max-width: 100%; 
    height: auto;
}

.menuButton {
    width: 50%
}

.introHeading {
    color: #424242;
}

.smallHeading {
    color: #424242;
    margin-top: -20px;
}

.bottomSection {
    margin-top: 5px;
}

.topHR {
    margin-top: -20px;
}

.mouseImg {
    max-width: 100%;
    height: 90%;
}

.startButton{
    margin-top: 10%;
}

.topContent{
	padding-top: 50px;
}

.headerImg{
    max-width: 50%;
    padding-bottom: 20px;
}