html{
    background: linear-gradient(#6DCFF6, #2981C4);
    background-size: cover;
}

body {
	background: linear-gradient(#6DCFF6, #2981C4);
    background-size: cover;
    width: 100%;
    height: 100%;
    overflow: hidden;
}

#cwrap {
	width: 100%;
	text-align: center;
	padding-top: 10px;
}

#c {
	display: inline-block;
	width: 848px;
	height: 608px;
}

#playersprite {
	position: absolute;
	width: 60px;
	height: 60px;
	background-image: url("../images/cheeselessMouse.png");
	background-size: 100% 100%;
	pointer-events: none;
}

#exitsprite {
	position: absolute;
	width: 60px;
	height: 60px;
	background-image: url("../images/pointerCheese.png");
	background-size: 100% 100%;
	pointer-events: none;
}

#howtoplay {
	display: block;
	position: absolute;
	width: 600px;
	max-width: 100%;
	background: #fff;
	margin-left: auto;
	margin-right: auto;
	left: 0;
	right: 0;
	top: 100px;
	font-size: 1.5em;
	padding: 20px;
}

#youwon {
	display: block;
	position: absolute;
	width: 400px;
	max-width: 100%;
	background: #fff;
	margin-left: auto;
	margin-right: auto;
	left: 0;
	right: 0;
	top: 100px;
	font-size: 1.5em;
	padding: 20px;
}
